{% extends "steam/base.html" %}
{% load tags %}
{% block title %}
  <title>User</title>
{% endblock %}

{% block importCSS %}
    <link href="{% static 'steam/stylesheets/uikit.addons.min.css' %}" rel="stylesheet">
    <link href="{% static 'steam/stylesheets/uikit.almost-flat.addons.min.css' %}" rel="stylesheet">
    <link href="{% static 'steam/stylesheets/uikit.gradient.addons.min.css' %}" rel="stylesheet">
{% endblock %}
{% block importjavascripts %}

    <script>
    /**
     * setup JQuery's AJAX methods to setup CSRF token in the request before sending it off.
     * http://stackoverflow.com/questions/5100539/django-csrf-check-failing-with-an-ajax-post-request
     */

    function getCookie(name)
    {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?

                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    $.ajaxSetup({ 
         beforeSend: function(xhr, settings) {
             if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                 // Only send the token to relative URLs i.e. locally.
                 xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
             }
         } 
    });
    </script>

    <script type="text/javascript" src="{% static 'steam/javascripts/search.js' %}"></script>
    <script type="text/javascript" src="{% static 'steam/javascripts/autocomplete.js' %}"></script>
{% endblock %}


{% block maininfo %}
    <div class="col-md-12">
        <div class="container">
            <div class="row" style="margin-top: 80px; margin-bottom: 15px;">
                <div class="col-xs-12 col-sm-3 col-md-2 col-lg-1">


                    <form class="uk-search" data-uk-search="{source:'{% url 'steam_user:search' %}'}">

                        <input class="uk-search-field" type="search" placeholder="">
                        <button class="uk-search-close" type="reset"></button>

                        <!-- This is the dropdown, which is injected through JavaScript -->
                        <div class="uk-dropdown uk-dropdown-search">
                            <ul class="uk-nav uk-nav-search">...</ul>
                        </div>

                    </form>

                </div>
            </div>            



            <ul class="uk-comment-list">
                {% for contact in contacts.object_list %}
                <li>       
                    <article class="uk-comment">
                        <header class="uk-comment-header">
                            <img class="uk-comment-avatar" src="{{ contact.photo.url }}" width="64" height="64" alt="">
                            {% if contact.nick_name %}
                                <h4 class="uk-comment-title">{{ contact.nick_name }}</h4>
                            {% else %}
                                <h4 class="uk-comment-title">{{ contact.get_full_name }}</h4>
                            {% endif %}
                            <ul class="uk-comment-meta uk-subnav uk-subnav-line">
                                <li><span>{% trans "加入日期" %} : {{ contact.baseuser.date_joined|date:"Y/m/d l H:i" }}</span></li>
                                <li><a href="{% url 'steam_user:user_profile' contact.id %}">Profile</a></li>
                                <li><a href="#">#</a></li>
                            </ul>
                        </header>
                        <div class="uk-comment-body"></div>
                    </article>
                </li>
                {% endfor %}
            </ul>
            <div class="pagination uk-width-medium-1-1 uk-container-center">
                <ul class="uk-pagination">
                    {% if contacts.number != 1 %}
                        <li><a href="?page=1"><i class="uk-icon-angle-double-left"></i></a></li>
                    {% else %}
                        <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
                    {% endif %}
                    {% if not contacts.has_previous %}
                        <li class="uk-disabled"><span><i class="uk-icon-angle-left"></i></span></li>
                    {% else %}
                        <li><a href="?page={{ contacts.previous_page_number }}"><i class="uk-icon-angle-left"></i></a></li>
                    {% endif %}
                    {% for p in contacts.leading_range %}
                        <li><a href="?page={{ p }}">{{ p }}</a></li>
                    {% endfor %}
                    <li><span>...</span></li>
                    {% for p in contacts.main_range %}
                        {% if p == contacts.number %}
                            <li class="uk-active"><span>{{ p }}</span></li>
                        {% else %}    
                            <li><a href="?page={{p}}">{{ p }}</a></li>
                        {% endif %}
                    {% endfor %}
                    <li><span>...</span></li>
                    {% for p in contacts.trailing_range %}
                        <li><a href="?page={{ p }}">{{ p }}</a></li>
                    {% endfor %}
                    {% if not contacts.has_next %}
                        <li class="uk-disabled"><span><i class="uk-icon-angle-right"></i></span></li>
                    {% else %}
                        <li><a href="?page={{ contacts.next_page_number }}"><i class="uk-icon-angle-right"></i></a></li>
                    {% endif %}
                    {% if contacts.number != contacts.paginator.num_pages %}
                        <li><a href="?page={{ contacts.paginator.num_pages }}"><i class="uk-icon-angle-double-right"></i></a></li>
                    {% else %}
                        <li class="uk-disabled"><span><i class="uk-icon-angle-double-right"></i></span></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}



