{% extends "steam/base.html" %}

{% block title %}
  <title>User Profile</title>
{% endblock %}

{% block importCSS %}<link href="{% static 'steam/stylesheets/edit.css' %}" rel="stylesheet">{% endblock %}

{% block maininfo %}
    <div class="col-md-12">
        <div class="steam_user_edit">
            <div class="container">
                <article class="uk-comment">
                    <header class="uk-comment-header">
                            <img class="uk-comment-avatar" <a data-uk-modal="{target:'#user-img'}" src="{{user_profile.photo.url}}" width="200px" height="200px">
                            <h2 class="uk-comment-title" style="wwhite-space: nowrap;">{{user_profile.nick_name}}</h2>
                            <div class="uk-comment-meta" >
                                <h6>{{user_profile.get_full_name}}</h6>
                                <p>{{user_profile.baseuser.email}}</p>
                            </div>
                            <div class="uk-float-left" style="padding-top: 20px;">
                                {% if user_profile.baseuser == user %}
                                <div class="profile_header_actions">
                                    <a href="{% url 'steam:steam_user_profile' %}">
                                        <button class="uk-button uk-button-primary">
                                            <span style="color: #FFFFFF">{% trans '編輯個人檔案' %}</span>
                                        </button>
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                    </header>
                    <div class="uk-comment-body"></div>
                </article>

                <div class="uk-modal" id="user-img" style="display: none; padding-right: 15px; padding-top: 50px;">
                    <div class="uk-modal-dialog uk-modal-dialog-frameless uk-container-center" id="user-img-show" style="width: 70%; height: auto; text-align: center; background: rgba(0,0,0,0.5)">
                        <button class="uk-modal-close uk-close uk-close-alt" type="button"></button>
                        <img style="vertical-align : middle;" alt="" src="{{user_profile.photo.url}}" name="modal-user-img">
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
