{% load tags %}


    <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
    <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
    <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
    <!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="">
            <meta name="author" content="">
            {% block meta %}{% endblock %}
            <!-- <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"> -->

            {% block title %}{% endblock %}
                <!-- Latest compiled and minified CSS -->
                <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
                <!-- Optional theme -->
                <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
                <!-- Custom styles for this template -->
                <link href="{% static 'steam/stylesheets/jumbotron.css' %}" type="text/css" rel="stylesheet">

                <!-- UIkit with the basic style -->
                <link href="{% static 'steam/stylesheets/uikit.min.css' %}" type="text/css" rel="stylesheet">
                <!-- UIkit with Gradient style -->
                <link href="{% static 'steam/stylesheets/uikit.gradient.min.css' %}" type="text/css" rel="stylesheet">
                <!-- UIkit with Almost flat style -->
                <link href="{% static 'steam/stylesheets/uikit.almost-flat.min.css' %}" type="text/css" rel="stylesheet">
            {% block importCSS %}{% endblock %}

            <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
              <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
              <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->

            {% block loadjavascripts %}
                <script type="text/javascript" src="//code.jquery.com/jquery-latest.min.js"></script>
                <!-- Latest compiled and minified JavaScript -->
                <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
                
                <!-- JavaScript and minified version -->
                <script type="text/javascript" src="{% static 'steam/javascripts/uikit.min.js' %}"></script>
            {% endblock %}

            {% block googlean_alytics %}
                <script>
                    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                    ga('create', 'UA-50649187-1', 'swim-fish.info');
                    ga('require', 'displayfeatures');
                    ga('require', 'linkid', 'linkid.js');
                    ga('send', 'pageview');
                </script>
            {% endblock %}
        </head>
        <body {% block body_attrs %}style=""{% endblock %}>
            {# ----------------- Top Bars ----------------- #}
            {% include 'steam/base_body.html' %}
            {# -------------------------------------------- #}

            {# ----- Use this block to edit the page ----- #}
            {% block message %}{% endblock %}
            {% block maininfo %}{% endblock %}
            {% block secondinfo %}{% endblock %}
            {% block thirdinfo %}{% endblock %}
            {# -------------------------------------------- #}

            {% block copyright %}
            <div class="container">
                <hr>
                <div class="col-xs-12 col-sm-6 col-md-8">
                    <footer>
                        <span class="">
                            <p>©  FCU SQA Game Center Project 2014</p>
                        </span>
                    </footer>
                </div>
                <div class="col-xs-6 col-md-4">
                    {% include 'steam/set_timezone.html' %}
                </div>

            </div>
            {% endblock %}
        </body>
        {% block after_body %} {% endblock %}
    </html>


