{% load tags %}
    <!--[if lt IE 9]>
        <div class="alert alert-danger uk-container-center uk-text-center">
            <p class="browsehappy">{% trans "You are using an <strong>outdated</strong> browser. Please " %}<a href="http://browsehappy.com/">{% trans "upgrade your browser" %}</a> {% trans "to improve your experience." %}</p>
        </div>
    <![endif]-->

    <div class="navbar navbar-inverse navbar-fixed-top col-md-12" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% block body_title %}
                <a class="navbar-brand" href="{% url 'steam:index' %}">SQA GC Project</a>
                {% endblock %}
            </div>
            <div class="navbar-collapse collapse">
              {% if not user.is_authenticated %}
                <ul class="nav navbar-nav col-md-7">
              {% else %}
                <ul class="nav navbar-nav col-md-6">
              {% endif %}
                    <li class="{% active request '^/steam/download$' %}"><a href="{% url 'steam:index' %}">{% trans "Download" %}</a>
                    </li>
                    <!-- start only xs -->
                    <li class="visible-xs dropdown {% active request '^/steam/game/' %}" data-uk-dropdown="">
                        <a data-toggle="dropdown">{% trans "Game" %} <i class="uk-icon-caret-down"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="{% active request '^/steam/game/' %} ">
                                <a href="{% url 'steam:game_index' %}">{% trans "All Game" %}</a>
                            </li>
                            <li><a href="#">{% trans "Action" %}</a>
                            </li>
                            <li><a href="#">{% trans "Another action" %}</a>
                            </li>
                            <li><a href="#">{% trans "Something else here" %}</a>
                            </li>
                            <li class="uk-nav-divider"></li>
                            <li class="uk-nav-header">Nav header</li>
                            <li><a href="#">{% trans "Separated link" %}</a>
                            </li>
                            <li><a href="#">{% trans "One more separated link" %}</a>
                            </li>
                        </ul>
                    </li>
                    <!-- end only xs -->
                    <!-- start hidden xs -->
                    <li class="hidden-xs uk-button-dropdown {% active request '^/steam/game/' %}" data-uk-dropdown="">
                        <a href="{% url 'steam:game_index' %}" class="dropdown-toggle">{% trans "Game" %} <i class="uk-icon-caret-down"></i></a>
                        <div class="uk-dropdown">
                            <ul class="uk-nav uk-nav-dropdown">
                                <li class="{% active request '^/steam/game/' %} ">
                                    <a href="{% url 'steam:game_index' %}">{% trans "All Game" %}</a>
                                </li>
                                <li><a href="#">{% trans "Action" %}</a>
                                </li>
                                <li><a href="#">{% trans "Another action" %}</a>
                                </li>
                                <li><a href="#">{% trans "Something else here" %}</a>
                                </li>
                                <li class="uk-nav-divider"></li>
                                <li class="uk-nav-header">Nav header</li>
                                <li><a href="#">{% trans "Separated link" %}</a>
                                </li>
                                <li><a href="#">{% trans "One more separated link" %}</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- end hidden xs -->
                    <li class="{% active request "^/steam/user/$" %} "><a href="/steam/user/">{% trans "User" %}</a>
                    </li>
                    <!-- start only xs -->
                    <li class="visible-xs dropdown {% active request '^/steam/dev/' %}" data-uk-dropdown="">
                        <a href="#" data-toggle="dropdown">{% trans "Developer" %} <i class="uk-icon-caret-down"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="{% active request '^/steam/dev/$' %} ">
                                <a href="{% url 'steam_dev:index' %}">{% trans "Home" %}</a>
                            </li>
                            <li>
                                <a href="{% url 'steam_dev:api_root' %}">{% trans "API ROOT" %}</a>
                            </li>
                            <li class="uk-nav-divider"></li>
                            <li class="{% active request '^/steam/dev/dev_profile$' %}">
                                <a href="{% url 'steam_dev:dev_profile' %}">{% trans "Developer Profile" %}</a>
                            </li>
                            <li>
                                <a href="{% url 'steam_dev:update_secret_token' %}">{% trans "Developer API Token" %}</a>
                            </li>
                            <li class="uk-nav-divider"></li>
                            <li class="uk-nav-header">Nav header</li>
                            <li><a href="#">{% trans "Separated link" %}</a>
                            </li>
                            <li><a href="#">{% trans "One more separated link" %}</a>
                            </li>
                        </ul>
                    </li>
                    <!-- end only xs -->
                    <!-- start hidden xs -->
                    <li class="hidden-xs uk-button-dropdown {% active request '^/steam/dev/' %}" data-uk-dropdown="">
                        <a href="#" class="dropdown-toggle">{% trans "Developer" %} <i class="uk-icon-caret-down"></i></a>
                        <div class="uk-dropdown">
                            <ul class="uk-nav uk-nav-dropdown">
                                <li class="{% active request '^/steam/dev/$' %} ">
                                    <a href="{% url 'steam_dev:index' %}">{% trans "Home" %}</a>
                                </li>
                                <li>
                                    <a href="{% url 'steam_dev:api_root' %}">{% trans "API ROOT" %}</a>
                                </li>
                                <li class="uk-nav-divider"></li>
                                <li class="{% active request '^/steam/dev/dev_profile/$' %}">
                                    <a href="{% url 'steam_dev:dev_profile' %}">{% trans "Developer Profile" %}</a>
                                </li>
                                <li>
                                    <a href="{% url 'steam_dev:update_secret_token' %}">{% trans "Developer API Token" %}</a>
                                </li>
                                <li class="uk-nav-divider"></li>                                
                                <li class="uk-nav-header">Nav header</li>
                                <li><a href="#">{% trans "Separated link" %}</a>
                                </li>
                                <li><a href="#">{% trans "One more separated link" %}</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- end hidden xs -->
                    </li>
                    <li class="{% block topbarAbout %} {% endblock %} "><a href="#about">{% trans "About" %}</a>
                    </li>
                    {% include 'steam/select_language.html' %}
                </ul>

                {% if not user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li class=""><a href="{% url 'steam:loginPage' %}">{% trans "Login" %}</a>
                    </li>
                    <li class=""><a href="{% url 'steam:user_signup' %}">{% trans "Sign up" %}</a>
                    </li>
                {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li class=""><a href="{% url 'steam:user_logout' %}">{% trans "Logout" %}</a>
                    </li>
                    <li>
                        <a href="{% url 'steam:steam_user_profile' %}">
                            <span class="glyphicon glyphicon-user"></span>
                            <strong>{{ user.email|truncatechars:30 }}</strong>
                        </a>
                    </li>
                {% endif %}
                </ul>
            </div>
            <!--/.navbar-collapse -->
        </div>
    </div>
