{% extends "steam/base.html" %}{% load bootstrap %}

{% block title %}
  <title>Sign up</title>
{% endblock %}


{% block importCSS %}
    <link href="{% static 'steam/stylesheets/signin.css' %}" rel="stylesheet">
    <link href="{% static 'steam/stylesheets/signup.css' %}" rel="stylesheet">
{% endblock %}

<link rel="stylesheet" type="text/css" href="{% static 'steam/stylesheets/styles.css' %}" />

{% block maininfo %}
<div class="container">
    <div class="">
        <form action="{% url 'steam:user_signup' %}" method="post" class="form-signin">
            {% csrf_token %}
            <h2 class="form-signin-heading">Sign up</h2>
                {% for field in form %}
                    {{ field|bootstrap }}
                {% endfor %}

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">{% trans "FCU SQA Game Center Project Terms" %}</h4>
                  </div>
                  <div class="modal-body" id="myModal_scroll_data">
                    <div data-spy="scroll" data-target="navbar-example" data-offset="0" class="scrollspy-example">
                        <div class="navbar-example">
                            {% include "steam/terms_zh-tw.html" %}
                        </div>
                    </div>

                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-danger btn-block" type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                    <input class="btn btn-success btn-block" type="submit" value={% trans '"I agree to the SQA Terms and Create Account"' %} />
                  </div>
                </div>
              </div>
            </div>
        </form>

        <div class="form-signin">
            <!-- Button trigger modal -->
            <button class="btn btn-info form-control" data-toggle="modal" data-target="#myModal">
              Terms
            </button>
        </div>
    </div>
</div>


{% endblock %}