{% extends "steam/base.html" %}
{% block title %}
    <title>SQA Game Center Project</title>
{% endblock %}


{% block maininfo %}
<div class="carousel">
    <div class="jumbotron">
        <div class="container">
        {% for app in apps %}
        	{% if forloop.counter0|divisibleby:"2" %}
			<div class="uk-grid">
			{% endif %}
				<div class="uk-width-medium-1-2">
					<div class="uk-panel uk-panel-box uk-scrollspy-init-inview uk-scrollspy-inview uk-animation-scale-up" data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: true}">
						<div class="uk-grid">
							<div class="uk-width-medium-2-4">
								<a class="uk-thumbnail uk-overlay-toggle" href="{% url 'steam:game_detail' app.id %}">
									<div class="uk-overlay">
										<img src="{{ app.photo_big.url }}" width="500" height="360" alt="">
									</div>
								</a>
							</div>
							<div class="uk-width-medium-2-4">
								<h3>{{ app.app_name }}</h3>
								<p>{{ app.app_introduction }}</p>
								</br>
								<small>{{ app.created }}</small>
							</div>
						</div>
					</div>
				</div>
			{% if not forloop.counter0|divisibleby:"2" %}
			</div>
			{% elif forloop.last %}
			</div>
			{% endif %}
		{% endfor %}
		</div>
	</div>
</div>
{% endblock %} 

{% block secondinfo %}
<div class="carousel">
    <div class="container">
        <div class="">
	        <div class="uk-grid">
				<div class="uk-width-medium-1-3">
					<h2>{% trans 'NEW RELEASES' %}</h2>
					<ul class="list-group">
						<li class="list-group-item">
							<span class="uk-badge uk-badge-notification badge">0</span>
							{% trans 'Action' %}
						</li>
						<li class="list-group-item">
							<span class="uk-badge uk-badge-notification badge">0</span>
							{% trans 'Adventure' %}
						</li>
						<li class="list-group-item">
							<span class="uk-badge uk-badge-notification badge">0</span>
							{% trans 'Strategy' %}
						</li>
						<li class="list-group-item">
							<span class="uk-badge uk-badge-notification badge">0</span>
							{% trans 'RPG' %}
						</li>
						<li class="list-group-item">
							<span class="uk-badge uk-badge-notification badge">0</span>
							{% trans 'Massively Multiplayer' %}
						</li>
						<li class="list-group-item">
							<span class="uk-badge uk-badge-notification badge">0</span>
							{% trans 'Adventure' %}
						</li>
						<li class="list-group-item">
							<span class="uk-badge uk-badge-notification badge uk-badge-danger">2</span>
							{% trans 'Casual' %}
						</li>
						<li class="list-group-item">
							<span class="uk-badge uk-badge-notification badge">0</span>
							{% trans 'Simulation' %}
						</li>
						<li class="list-group-item">
							<span class="uk-badge uk-badge-notification badge">0</span>
							{% trans 'Racing' %}
						</li>
						<li class="list-group-item">
							<span class="uk-badge uk-badge-notification badge">0</span>
							{% trans 'Sports' %}
						</li>
					</ul>
				</div>
				<div class="uk-width-medium-1-3">
					<h2>{% trans 'TOP DOWNLOADS' %}</h2>
					<ul class="list-group">
						<li class="list-group-item">
							<span class="uk-badge uk-badge-notification badge">0</span>
							{% trans 'Action' %}
						</li>
						<li class="list-group-item">
							<span class="uk-badge uk-badge-notification badge">0</span>
							{% trans 'Adventure' %}
						</li>
						<li class="list-group-item">
							<span class="uk-badge uk-badge-notification badge">0</span>
							{% trans 'Strategy' %}
						</li>
						<li class="list-group-item">
							<span class="uk-badge uk-badge-notification badge">0</span>
							{% trans 'RPG' %}
						</li>
						<li class="list-group-item">
							<span class="uk-badge uk-badge-notification badge">0</span>
							{% trans 'Massively Multiplayer' %}
						</li>
						<li class="list-group-item">
							<span class="uk-badge uk-badge-notification badge">0</span>
							{% trans 'Adventure' %}
						</li>
						<li class="list-group-item">
							<span class="uk-badge uk-badge-notification badge uk-badge-success">2</span>
							{% trans 'Casual' %}
						</li>
						<li class="list-group-item">
							<span class="uk-badge uk-badge-notification badge">0</span>
							{% trans 'Simulation' %}
						</li>
						<li class="list-group-item">
							<span class="uk-badge uk-badge-notification badge">0</span>
							{% trans 'Racing' %}
						</li>
						<li class="list-group-item">
							<span class="uk-badge uk-badge-notification badge">0</span>
							{% trans 'Sports' %}
						</li>
					</ul>
				</div>
				<div class="uk-width-medium-1-3">
					<h2>{% trans 'COMING SOON' %}</h2>
					<ul class="list-group">
						<li class="list-group-item">
							<span class="uk-badge uk-badge-notification badge">0</span>
							{% trans 'Action' %}
						</li>
						<li class="list-group-item">
							<span class="uk-badge uk-badge-notification badge">0</span>
							{% trans 'Adventure' %}
						</li>
						<li class="list-group-item">
							<span class="uk-badge uk-badge-notification badge">0</span>
							{% trans 'Strategy' %}
						</li>
						<li class="list-group-item">
							<span class="uk-badge uk-badge-notification badge">0</span>
							{% trans 'RPG' %}
						</li>
						<li class="list-group-item">
							<span class="uk-badge uk-badge-notification badge">0</span>
							{% trans 'Massively Multiplayer' %}
						</li>
						<li class="list-group-item">
							<span class="uk-badge uk-badge-notification badge">0</span>
							{% trans 'Adventure' %}
						</li>
						<li class="list-group-item">
							<span class="uk-badge uk-badge-notification badge">0</span>
							{% trans 'Casual' %}
						</li>
						<li class="list-group-item">
							<span class="uk-badge uk-badge-notification badge">0</span>
							{% trans 'Simulation' %}
						</li>
						<li class="list-group-item">
							<span class="uk-badge uk-badge-notification badge">0</span>
							{% trans 'Racing' %}
						</li>
						<li class="list-group-item">
							<span class="uk-badge uk-badge-notification badge">0</span>
							{% trans 'Sports' %}
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %} 