<li class="uk-button-dropdown" data-uk-dropdown="">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Language" %}<i class="uk-icon-caret-down"></i></a>
    <div class="uk-dropdown">
        <ul class="uk-nav uk-nav-dropdown">
        {% for lang in LANGUAGES %}
            <li>
                <a href="#" onclick="document.setLang{{ forloop.counter }}.submit();return false;">{{ lang.1 }}</a>
                <form name="setLang{{ forloop.counter }}" action="/i18n/setlang/" method="POST">{% csrf_token %}
                    <input name="next" type="hidden" value="{{ request.path }}" />
                    <input type="hidden" name="language" value="{{ lang.0 }}" />
                </form>
            </li>
        {% endfor %}
        </ul>
    </div>
</li>