{% extends "steam/base.html" %}{% load staticfiles %}{% load bootstrap %}

{% block title %}
  <title>Sign up</title>
{% endblock %}


{% block importCSS %}<link href="{% static 'steam/stylesheets/edit.css' %}" rel="stylesheet">{% endblock %}

{% block maininfo %}
    <div class="container col-md-12">
        <div class="">

            <form action="{% url 'steam:steam_user_profile' %}" method="post" class="form-edit form-horizontal" enctype="multipart/form-data">{% csrf_token %}
                <h2 class="form-edit-heading">Edit Steam User</h2>
                <h3 class="form-edit-heading">Email: {{ user }}</h3>
                {% for field in form %}
                    {% if field.label != 'Image' %}
                        {{ field|bootstrap_horizontal }}
                    {% else %}
                        {{ field|bootstrap_horizontal }}
                    {% endif %}

                {% endfor %}
                <input class="btn btn-default form-control" type="submit" value="Update" />
            </form>
        </div>
    </div>
{% endblock %}