#splash_features_outer {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #2D7091;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    height: 340px;
    text-align: center;
}

.splash_feature {
    color: #FFFFFF;
    display: inline-block;
    font-size: 20px;
    height: 320px;
    padding-top: 20px;
    vertical-align: top;
    width: 100%;
}

.splash_feature > div {
	padding-top: 20px;
	padding-bottom: 20px;
}

.splash_feature_icon {
    background-image: url("/static/steam_user/images/splash_icons.png");
    height: 90px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 90px;
}

#splash_feature_meet {
    background-position: -91px 0;
}

#splash_feature_know {
    background-position: -182px 0;
}

.uk-grid .uk-width-medium-1-4 {
	padding-top: 20px;
}

